<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Aplicacion</title>
</head>
<body>



    <form action="/registro" method="post">
        <h4>Registro de usuarios</h4>
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="email" name="correo" placeholder="Correo">
        <input type="password" name="contraseña" placeholder="Contraseña">
        <input type="submit">
    </form>

    <table>
        <caption>Usuarios registrados</caption>
        <thead>
            <tr>
                {% for celda in encabezado_tabla %}
                <th>{{celda}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.contraseña}}</td>
                <td> 
                    <button class="eliminar">Eliminar</button>
                    <dialog class="ventana">
                        <p>Eliminar</p>
                        <a href="{{url_for('eliminar', nombre_usuario=usuario.nombre)}}">si</a> 
                        <button type="button">no</button>
                    </dialog>

                </td>      
                <td>   
                    <button class="editar">Editar</button>
                    <dialog class="ventana">
                        <form action="/editar/{{usuario.nombre}}" method="post">
                            <label for="nombre">nombre</label>
                            <input type="text" name="nombre" id="nombre" value="{{usuario.nombre}}">
                            <br>
                            <label for="correo">correo</label>
                            <input type="email" name="correo" id="correo" value="{{usuario.correo}}">
                            <br>
                            <label for="contraseña">contraseña</label>
                            <input type="text" name="contraseña" id="contraseña" value="{{usuario.contraseña}}">
                            <input type="submit" >
                        </form>
                        <button type="button">cerrar</button>
                    </dialog>
                
                </td>                                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script src="static/index.js"></script>    
    
</body>
</html>